body {

    background-color: #eff3fa;

}

h1 {

    color: #6d0000;
}

.content, #formContainer {

    -webkit-box-shadow: -1px 3px 19px -4px rgba(0,0,0,0.79);
    -moz-box-shadow: -1px 3px 19px -4px rgba(0,0,0,0.79);
    box-shadow: -1px 3px 19px -4px rgba(0,0,0,0.79);
    margin-right: auto;
    margin-left: auto;
    width: 50em;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#tableContainer {

    padding-top: 20px;
}

#storyTable {

    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}

#storyTable td, th {

    border: 1px solid #ddd;
    padding: 5px;
}

#storyTable tr:nth-child(even) {
    background-color: #e0e0e0;
}